:root {
  --border-radius: 0.25rem;
  --color: currentColor;
  --block-background-color: #f5f5f5;
  --block-background-color-on-hover: #e0e0e0;
  --block-max-height: 20rem;
  --block-padding: 0.5rem;
  --code-background-color: var(--block-background-color);
  --code-color: inherit;
  --code-font-family: Monaco, Courier, monospace;
  --editor-font-size: 1em;
  --editor-line-height: 2em;
  --editor-padding: 0.5rem;
  --inline-padding: 0.125rem;
  --modal-position: fixed;
  --syntax-atom-color: #d19a66;
  --syntax-comment-color: #abb2bf;
  --syntax-comment-font-style: italic;
  --syntax-emphasis-color: inherit;
  --syntax-emphasis-font-style: italic;
  --syntax-hashtag-background-color: #eee;
  --syntax-hashtag-color: inherit;
  --syntax-heading-color: inherit;
  --syntax-heading-font-weight: 600;
  --syntax-heading1-color: var(--syntax-heading-color, inherit);
  --syntax-heading1-font-size: 1.6em;
  --syntax-heading1-font-weight: 600;
  --syntax-heading2-color: var(--syntax-heading-color, inherit);
  --syntax-heading2-font-size: 1.5em;
  --syntax-heading2-font-weight: 600;
  --syntax-heading3-color: var(--syntax-heading-color, inherit);
  --syntax-heading3-font-size: 1.4em;
  --syntax-heading3-font-weight: 600;
  --syntax-heading4-color: var(--syntax-heading-color, inherit);
  --syntax-heading4-font-size: 1.3em;
  --syntax-heading4-font-weight: 600;
  --syntax-heading5-color: var(--syntax-heading-color, inherit);
  --syntax-heading5-font-size: 1.2em;
  --syntax-heading5-font-weight: 600;
  --syntax-heading6-color: var(--syntax-heading-color, inherit);
  --syntax-heading6-font-size: 1.1em;
  --syntax-heading6-font-weight: 600;
  --syntax-highlight-background-color: #555555;
  --syntax-keyword-color: #c678dd;
  --syntax-link-color: inherit;
  --syntax-meta-color: #abb2bf;
  --syntax-code-color: var(--code-color);
  --syntax-code-font-family: var(--code-font-family);
  --syntax-name-color: #d19a66;
  --syntax-name-label-color: #abb2bf;
  --syntax-name-property-color: #96c0d8;
  --syntax-name-property-definition-color: #e06c75;
  --syntax-name-variable-color: #e06c75;
  --syntax-name-variable-definition-color: #e5c07b;
  --syntax-name-variable-local-color: #d19a66;
  --syntax-name-variable-special-color: inherit;
  --syntax-number-color: #d19a66;
  --syntax-operator-color: #96c0d8;
  --syntax-processing-instruction-color: #bbbbbb;
  --syntax-punctuation-color: #abb2bf;
  --syntax-strikethrough-color: inherit;
  --syntax-strikethrough-text-decoration: line-through;
  --syntax-string-color: #98c379;
  --syntax-string-special-color: inherit;
  --syntax-strong-color: inherit;
  --syntax-strong-font-weight: 600;
  --syntax-url-color: #666666;
  --toolbar-group-spacing: 2rem;
  --toolbar-item-spacing: 0;
}